* {
    transition: all .1s ease-in;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4 {
	font-weight: 700;
	letter-spacing: .16em;
	text-transform: uppercase;
	margin: 0;
}
p {
	margin: 0;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}
.ba-hero-section {
	background: url("../img/hero-bg.jpg") top right no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100vw;
}
.ba-hero__container {
	color: #ffffff;
	height: 400px;
	width: 800px;

	margin: auto;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	text-align: center;
}
.ba-hero__logo {
	background: url("../img/logo.svg") center center no-repeat;
	display: block;
	margin: 0 auto 80px;
	height: 72px;
	width: 72px;
}
.ba-hero__title h1{
	color: #ffffff;
	font-size: 54px;
	margin-bottom: 50px;
}
.ba-hero__subtitle {
	font-size: 15px;
	letter-spacing: 0.006em;
	line-height: 29px;
	text-transform: uppercase;
}
.ba-hero__scroll {
	display: block;
	position: absolute;
	right: calc(50% - 12px);
	bottom: 40px;
	margin: auto;

	background: url("../img/scroll.svg");
	width: 23px;
	height: 37px;
}
.ba-section--aboutUs {
	background: #ffffff;
	position: relative;
	height: 630px;
    width: 900px;
    margin: auto;
	text-align: center;
	padding: 160px 0;
}
.ba-box {
	border: 2px solid #3c3c3c;
	border-width: 0 2px 2px;
	padding: 70px 180px 26px;
	text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 310px;
    width: 900px;
}
.ba-box:before,
.ba-box:after {
	display: block;
	content: "";
	position: absolute;
	height: 2px;
	background: #3c3c3c;
	width: 22%;
	top: 0;
}
.ba-box:before {
	left: 0;
}
.ba-box:after {
	right: 0;
}
.ba-box__title {
	font-size: 34px;
	position: absolute;
	left: 22%;
	top: 0;
	margin: 0;
	text-align: center;
	width: 56%;
	transform: translateY(-50%);
}
.ba-box__text {
	line-height: 24px;
	width: 550px;
	margin: auto;
}
.ba-box__text p {
	padding-bottom: 30px;
}
.ba-section--services {
	position: relative;
	background: url("../img/services.jpg") center center no-repeat;
	height: 488px;
	margin-bottom: 120px;
}
.ba-box--services{
    height: 250px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-width: 0 2px 2px;
}
.ba-box--services:before,
.ba-box--services:after {
    display: block;
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    width: 22%;
    top: 0;
}
.ba-section--weDo {
    position: relative;
    height: 1400px;
    width: 900px;
    margin: auto;
    text-align: center;
    padding: 160px 0;
}
.ba-box--weDo {
    height: 1180px;
    padding: 125px 180px 85px;
    font-size: 14px;
}
.ba-box__logo {
    display: block;
	height: 91px;
	width: 80px;
	margin: 0 auto 35px;
}
.ba-logo--design {
	background: url("../img/Shape 2.svg") center center no-repeat;
}
.ba-logo--development {
	background: url("../img/Shape 3.svg") center center no-repeat;
}
.ba-logo--management {
	background: url("../img/Shape 4.svg") center center no-repeat;
}
.ba-box__title--small {
    font-size: 20px;
    margin-bottom: 30px;
}
.ba-section--weDo .ba-box__text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .026em;
    margin-bottom: 85px;
}
.ba-section--works {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;

    width: 100vw;
    color: #ffffff;
    font-size: 34px;
    padding: 0;
}
.ba-section--works .works__item:first-child,
.ba-section--works .works__item:nth-child(2),
.ba-section--works .works__item:nth-child(3) {
    margin-bottom: 15px;
}

.works__item {
    height: 240px;
    position: relative;
}
.topworkz {
    background: url("../img/topworkz.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    flex-basis: 29%;
    /*margin: 0 10px 10px 0;*/
}
.joint {
    background: url("../img/joint.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    flex-basis: 40%;
    /*margin: 0 10px 10px 0;*/
}
.market {
    background: url("../img/market.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    flex-basis: 29%;
    /*margin: 0 0 10px 0;*/
}
.worktop {
    background: url("../img/worktop.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    flex-basis: 29%;
    /*margin: 0 10px 0 0;*/
}
.lable {
    background: url("../img/lable.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    flex-basis: 40%;
    /*margin: 0 10px 0 0;*/
}
.kyiv {
    background: url("../img/kyiv.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    flex-basis: 29%;
    /*margin: 0;*/
}
.item__title {
    display: block;
    position: absolute;
    left: 50px;
    bottom: 40px;
}
.ba-section--contact {
    position: relative;
    height: 495px;
}
.ba-box--contact {
    height: 295px;
}
.ba-button {
    font-size: 16px;
    letter-spacing: .16em;
    text-transform: uppercase;
    text-decoration: none;
    color: #cbcbcb;
    line-height: 60px;
    text-align: center;

    background: #3c3c3c;
    height: 60px;
    width: 395px;
}
.ba-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.ba-footer__logo {
    background: url("../img/logo-dark.png") center center no-repeat;
    display: inline-block;
    width: 35px;
    height: 37px;
    margin-right: 35px;
}
.ba-footer__text {
    display: inline-block;
    font-size: 14px;
}